{
  "extends": [
    "@nuxtjs/eslint-config-typescript",
	"prettier"
  ],
  "rules": {
    "no-console": "off",
	"vue/html-self-closing": ["error", {
    "html": {
      "void": "always",
      "normal": "always",
      "component": "always"
    },
    "svg": "always",
    "math": "always"
  }]
  }
}
